@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: "Arima", system-ui;
font-family: "Poppins", sans-serif;
font-family: "Open Sans", sans-serif;
*/


* {
    padding: 0;
    margin: 0;
}

body {
    font: 500 16px/24px "Poppins", sans-serif;
    color: #5b5757;
}

ul li {
    list-style-type: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-family: "Arima", system-ui;
}

/* ======================================  */
.container {
    width: 1200px;
    margin: auto;
}

.pageHeader {
    background-color: #31060f;
    height: 90px;
    display: flex;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 22px;
}

.nav a{
    text-decoration: none;
}

.nav li a {
    color: white;
    font-weight: 400;
    /* border-bottom: solid 2px #063118; */
}

.nav li a:hover {
    border-bottom: solid 2px white;
}

.login {
    background-color: #e7ddc2;
    height: 90px;
    display: flex;
}

nav .login a,i{
    /* text-decoration: none; */
    color: #31060f;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}

.banner{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner img{
    width: 100%;
}

.banner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 125px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 40px;
}

h1 span{
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 30px;
}

.overlay p{
    color: white;
    font-size: 18px;
    margin-bottom: 40px;
}

.overlay a{
    background-color: white;
    border: none;
    border-radius: 100px;
    color: #31060f;
    padding: 15px 30px;
}

.overlay a:hover{
    background-color: #31060f;
    color: white;
}
